<app-songwriting-form [loading]="loading" (generate)="handleGenerate($event)"></app-songwriting-form>

<div class="status" *ngIf="error">
  <p class="error">{{ error }}</p>
</div>

<div class="result" *ngIf="result as song">
  <h3>Generated Lyrics</h3>
  <pre>{{ song.lyrics }}</pre>
  <h4>Structure</h4>
  <p>{{ song.structure }}</p>
  <h4>Creative Notes</h4>
  <p>{{ song.creative_notes }}</p>
  <h4>Emotional Arc</h4>
  <p>{{ song.emotional_arc }}</p>
  <h4>Suggested Refinements</h4>
  <ul>
    <li *ngFor="let idea of song.suggested_refinements">{{ idea }}</li>
  </ul>
</div>
